html{margin:0px;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;
    padding: 40px; margin-left: 100px; width: 600px}

a { color: #0066B3; background: inherit; text-decoration: none;}
a:hover { color: #5588C5 }

h1 { font: bold 2.1em Arial, Arial, Sans-Serif; 
	color: #036DA7;
	margin-top:0px;
	margin-bottom:0px;}

h2 { font: bold 1.1em Arial, Arial, Sans-Serif;
	margin-top:5px;
	margin-bottom:0px;}

h2.subtitle{
	margin-top:0px;
	padding-bottom:15px;}

ul{
  list-style-type: none;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 0px;
}

p {
   margin-left: 8px;
   margin-top:2px;
   margin-bottom:10px;}

div#footer { margin-top: 40px; 
	border-top: 2px solid #888}
div#footer img { margin-right: 20px; 
	margin-top: 20px }
